@import "maps";

*{
    margin:0;
    padding:0
}
@mixin titulos{
    color: rgb(183, 143, 69);
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    
}
.titulo1{
    @include titulos;
}

.titulo2{
    @include titulos;
}

.titulo3{
   @include titulos;
    }
.texto1{
    color: black;
    text-align: center;

}



.colorvioleta {
    color: blueviolet;

}
body{
    background-color: #EDEBDD
     
}
.colorblanco1{
    color: black;
    text-align: center;
}
.colorblanco2{
    @extend .colorblanco1;
    }
.colorblanco3{
    color:black;
    text-align: center;
}
.colorblanco4{
     @extend .colorblanco1; 
    padding-left:0; 
}
.colorblanco5{
    color: black;
    text-align: center;
    padding-left: 0;
}


.textolista{
    font-size: 1rem;
}

.imagen-principal {
    grid-area:imagen-principal;
    text-align: center;
}
.imagen-principal-imagen{
    border: 4px solid black;
    width: 30%;
    min-width: 25rem;
    
}

.menu{
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
    grid-area: menu1;
    display: flex;
    justify-content: center;
    }
.menu-li{
    display: inline-block;
}
.menu-li a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        }
        100% {
            opacity: 1;
            }
    
}
.titulo1{
    animation-name: aparecer;
    animation-duration: 1s;
}



.titulo3{
    animation-name: aparecer;
    animation-duration: 1s;
}
.colorblanco4{
    animation-name: aparecer;
    animation-duration: 3s;
}
.colorblanco5{
    animation-name: aparecer;
    animation-duration: 3s;
}


ul{
    list-style: none;
}
ol{
    list-style: none;
}


@media screen and (min-width: 1024px) {

#grilla{
    display: grid;
    grid-template-areas: 
    "menu"
    "titulo1"
    "colorblanco1"
    "titulo2"
    "texto1"
    "colorblanco2"
    "titulo3"
    "colorblanco3"
    "imagen-principal"
    "footer";
    justify-content: center;
    width: 100%;
}


    

    

.border{
    border: 1px solid black;
}

menu{
    grid-area: menu;
    width: 100%;
    height: auto;
    
}
footer{
    grid-area: footer;
    width: 100%;
    height: auto;
   

}
.titulo1{
    grid-area: titulo1;
    width: 100%;
    height: auto;
}
.titulo2{
    grid-area: titulo2;
    width: 100%;
    height: auto;
}
.titulo3{
    grid-area: titulo3;
    width: 100%;
    height: auto;
}
.colorblanco1{
    grid-area: colorblanco1;
    width: 100%;
    height: auto;
}
.colorblanco2{
    grid-area: colorblanco2;
    width: 100%;
    height: auto;
}
.colorblanco3{
    grid-area: colorblanco3;
    width: 100%;
    height: auto;
}
.texto1{
    grid-area: texto1;
    width: 100%;
    height: auto;
}

.tamaño{
    width: 58%;
    margin: auto;
}

}